.form-layout{
    border: 2px solid blueviolet;
    width: 300px;
}
.errorClass{
    margin-bottom: 9px;
    color: red;
}
.create-account{
    text-align: center;
    margin-top: 4px;
    color: blueviolet;
    cursor: pointer;
}