#no-button{
    background-color: red;
}
#yes-button{
    background-color: blue;
    margin-left: 14px;
}
.dialogButtonClass{
    margin-top: 71px;
    margin-left: 0px;
    border: 2px solid blueviolet;
    background-color: blueviolet;
}
.spanMessage{
    margin-top: 38px;
    font-family: sans-serif;
    color: black;
    font-size: medium;
}
