<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode==='over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
       close
      </mat-icon>
     </button>
   Responsive Side Nav bar

   
   
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" >
      <img class="avtar mat-elevation-z8">
      <h4 class="name">Yatish Kumar</h4>
      <p class="designation">Senior Ui Developer</p>
      <mat-divider></mat-divider>
     <button mat-button class="menu-button">
      <mat-icon >home</mat-icon>
      <span routerLink="./user">Home</span>
     </button>
     <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span routerLink="./graph-dashboard">Graph DashBoard</span>
     </button>
     <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
     </button>
     <mat-divider></mat-divider>
     <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span routerLink="./upload-file">upload File</span>
     </button>
     <button mat-button class="menu-button">
        <mat-icon>logout</mat-icon>
        <span (click)="logOut()">Logout</span>
       </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z4">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>